
/*---------------------------- PAGE PANIER -------------------------------- */


.product-zone-cart
{
	margin: 2em;
	width: 640px;
}

#cart-body{
background:url("../media/images/bg.jpg");
background-size:cover;
background-repeat:no-repeat;
color: white;
display: flex;
}

#products-box-basket{
width: 900px;
max-height: 106vh;

}

/* MAISON LISTE */

#panierList{
margin: 3% 0% 0% 32%;
width: 81%;
height: 40em;
background: #484861;
font-size: 16px;
text-align: center;
border-radius: 3px black solid;
overflow-y: scroll;
overflow-x: hidden;
border-radius: 0.3em;
justify-content:center;
}

#panierList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#panierList::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
#panierList::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}

#houseInBasket{
width: 95%;
height: 45%;
margin:2%;
background-color: chocolate;
border-radius: 3px black solid;
border-radius: 0.3em;
}


/* VALIDATION PANIER */

#ValidationAchat{
margin-top: 2%;
margin-left: 8%;
width: 25%;
min-height: 900px;
height: fit-content;
background: #484861;
border-radius: 3px black solid;
border-radius: 0.3em;
color:black;
font-size: x-large;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.titrePanier{
margin-left: 46%;
margin-top: 2%;
margin-bottom: -2%;
text-align: center;
font-size: xx-large;
color: rgb(219, 219, 84);
}

#infoProduct{
margin: 2% auto;
padding: 2% 0;
width: 95%;
height: 60%;
border-radius:0.3em;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#infoGeneral{
width: 95%;
height: 20%;
border: 2px black solid;
border-radius: 0.3em;
background-color:rgb(50, 182, 205) ;

}

#infoTechnique{
width: 95%;
height: 77%;
padding: 1%;
text-align: center;
border: 2px white solid;
border-radius: 0.3em;
}

#option{
width: 95%;
margin: 3% 0% 1%;
height: fit-content ;
border: 2px black solid;
border-radius: 0.3em;
background-color: rgb(90, 90, 90);
}

#optionDiv{
background-color: #484950;
color: white;
font-size: x-large;
margin: 1.5% auto;
padding: 1%;
width: 95%;
border: 2px black solid;
border-radius: 0.3em;
}

#alignTextProducts{
text-align: center;
/* background-color: rgb(245, 209, 179); */
color: black;
font-weight: bold;
background: #71718d;
padding:1%;
}

#infoAgent{
font-size: 20px;
margin: 1%;
}

#validationBasket{
margin: 2% auto;
width: 95%;
height: fit-content;
border: 2px black solid;
border-radius:0.3em;
}

.product-infos-basket
{
height: 90%;
padding-left:1em;
margin-left:1em;
margin-top: 14px;
color:#e7e7e7;
width: 196px;
}

.removeArticle{
padding:3%;
font-size: x-large;
border-radius: 0.3em;
text-align: center;
}

#InfoAvantValidation{
margin: 1% auto;
width: 99%;
height: fit-content;
background: #484950;
text-align: center;
color: white;
font-weight: bold;
padding: 6% 0 5%;
border-radius: 0.2em;
}

#ValidationAchatOk{
margin:2% auto;
width: 95%;
padding: 5% 0;
border-radius: 0.3em;
height: auto;
text-align: center;	
display: flex;
flex-direction: column;
font-size: xx-large;
justify-content: space-evenly;
}

#product-bought{
background: #1a1919c0;
font-size: x-large;
padding: 6em 0px;
width: 640px;
text-align: center;
border-radius: 0.3em;
border: 4px black solid;
color: white;
font-style: italic;
margin-top: -0.05em;
margin-left: -26.81em;
margin-right: -0.1em;
opacity: 1;
}

#product-bought:hover{
opacity: 0.5;
color:rgba(190, 190, 114, 0);
}

#aucunAchat{
margin: 19% auto;
font-size: xx-large;
}

#acheter{
padding: 1.5% 0 2%;
width: 60%;
font-style: bolder;
font-size: 39px;
border-radius: 0.3em;
text-align: center;
color: white;
background-color:#484848;
}

#formulairePayement{
display: flex;
border-radius: 0.3em;
flex-direction: column;
padding:2%;
background: white;
color:black;
}

#inputPayement{
width: 100%;
font-size: x-large;
}

#inputPayements{
width: 50%;
font-size: x-large;
}

#totalPrice{
font-weight: bold;
color:rgb(209, 209, 108);
background-color: rgba(29, 30, 42, 0.658);
font-size: xx-large;
padding: 2% 0;
}

#nbcart{
color:white;
padding:2%;
font-size: 26px;
border-radius: 0.3em 0.3em 0em 0em;
}

#nbbought{
color:white;
padding:2% 2% 3%;
font-size: 26px;
border-radius: 0em 0em 0.3em 0.3em;
}


#validationPanierbis{
background: #484950c9;
border: 4px black solid;
width: 40%;
color:white;
padding: 1% 1% 2%;
text-align: center;
font-size: 2vw;
border-radius: 0.3em;
margin: -4.7% 22%;
position: absolute;
}

#validationPanierbis2{
background-color: rgba(255, 92, 71, 0.911);
border: 2px black solid;
width: 37%;
padding: 4% 2%;
text-align: center;
font-size: 2vw;
border-radius: 0.3em;
margin: -6.5% 23.5%;
position: absolute;
}
#validationPanierbis4{
text-align: center;
width: 50%;
height: 40px;
color: white;
font-size: x-large;
margin: 1% auto 1%;
background-color: #484848c3;
}

#validationPanierbis5{
text-align: center;
width: 50%;
height: 40px;
color: white;
font-size: xx-large;
margin: 1% auto 1%;
background-color: #484848c3;
}

.addcartgoback-insideBis{
width: 226px;
height: 30px;
text-align: center;
color: black;
font-size: 1vw;
font-weight: bold;
border-radius: 0.3em;
}
/* VALIDATION PANIER */

#ValidationAchat{
margin-top: 2%;
margin-left: 8%;
width: 25%;
min-height: 900px;
height: fit-content;
background: #484861;
border-radius: 3px black solid;
border-radius: 0.3em;
color:black;
font-size: x-large;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.titrePanier{
margin-left: 46%;
margin-top: 2%;
margin-bottom: -2%;
text-align: center;
font-size: xx-large;
color: rgb(219, 219, 84);
}

#infoProduct{
margin: 2% auto;
padding: 2% 0;
width: 95%;
height: 60%;
border-radius:0.3em;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#infoGeneral{
width: 95%;
height: 20%;
border: 2px black solid;
border-radius: 0.3em;
background-color:rgb(50, 182, 205) ;

}

#infoTechnique{
width: 95%;
height: 77%;
padding: 1%;
text-align: center;
border: 2px white solid;
border-radius: 0.3em;
}

#option{
width: 95%;
margin: 3% 0% 1%;
height: fit-content ;
border: 2px black solid;
border-radius: 0.3em;
background-color: rgb(90, 90, 90);
}

#optionDiv{
background-color: #484950;
color: white;
font-size: x-large;
margin: 1.5% auto;
padding: 1%;
width: 95%;
border: 2px black solid;
border-radius: 0.3em;
}

#alignTextProducts{
text-align: center;
/* background-color: rgb(245, 209, 179); */
color: black;
font-weight: bold;
background: #71718d;
padding:1%;
}

#infoAgent{
font-size: 20px;
margin: 1%;
}

#validationBasket{
margin: 2% auto;
width: 95%;
height: fit-content;
border: 2px black solid;
border-radius:0.3em;
}

.product-infos-basket
{
height: 90%;
padding-left:1em;
margin-left:1em;
margin-top: 14px;
color:#e7e7e7;
width: 196px;
}

.removeArticle{
padding:3%;
font-size: x-large;
border-radius: 0.3em;
text-align: center;
}

#InfoAvantValidation{
margin: 1% auto;
width: 99%;
height: fit-content;
background: #484950;
text-align: center;
color: white;
font-weight: bold;
padding: 6% 0 5%;
border-radius: 0.2em;
}

#ValidationAchatOk{
margin:2% auto;
width: 95%;
padding: 5% 0;
border-radius: 0.3em;
height: auto;
text-align: center;	
display: flex;
flex-direction: column;
font-size: xx-large;
justify-content: space-evenly;
}

#product-bought{
background: #1a1919c0;
font-size: x-large;
padding: 6em 0px;
width: 640px;
text-align: center;
border-radius: 0.3em;
border: 4px black solid;
color: white;
font-style: italic;
margin-top: -0.05em;
margin-left: -26.81em;
margin-right: -0.1em;
opacity: 1;
}

#product-bought:hover{
opacity: 0.5;
color:rgba(190, 190, 114, 0);
}

#aucunAchat{
margin: 19% auto;
font-size: xx-large;
}

#acheter{
padding: 1.5% 0 2%;
width: 60%;
font-style: bolder;
font-size: 39px;
border-radius: 0.3em;
text-align: center;
color: white;
background-color:#484848;
}

#formulairePayement{
display: flex;
border-radius: 0.3em;
flex-direction: column;
padding:2%;
background: white;
color:black;
}

#inputPayement{
width: 100%;
font-size: x-large;
}

.inputPayements{
width: 50%;
font-size: x-large;
}

#totalPrice{
font-weight: bold;
color:rgb(209, 209, 108);
background-color: rgba(29, 30, 42, 0.658);
font-size: xx-large;
padding: 2% 0;
}
#validationPanierbis3{
text-align: center;
width: 50%;
height: 40px;
font-size: x-large;
margin: 1% auto 1%;
}

#nbcart{
color:white;
padding:2%;
font-size: 26px;
border-radius: 0.3em 0.3em 0em 0em;
}

#nbbought{
color:white;
padding:2% 2% 3%;
font-size: 26px;
border-radius: 0em 0em 0.3em 0.3em;
}

#flexrow{
display: flex;
flex-direction: row;
margin:0 25%;
}
