/*---------------------------VIDEO BACKGROUND---------------------------*/

#video-bg
{
	position:absolute;
	top:0; left:0;
	width:100%;
	z-index:-1;
}

/*------------------------------MAIN TITLE------------------------------*/
main
{
	min-height:100vh;
}

#title-box
{
	margin-top:30vh;
	overflow-x:hidden;
	width:100%;
}

#main-topTitle, #main-subTitle
{
	font-family:roboto;
	font-size:5em;
	color:white;
	text-align:center;
	top:5em;
}

#main-subTitle
{
	font-size:2em;
	margin-top:-1em;
}

#title-box:before, #title-box:after
{
	content:"";
	height:3px;
	background:#efefef;
	
	animation-duration:3.8s;
}


#title-box:before
{
	width:35em;
	align-self:center;
	
	position:relative;
	top:3em;

	animation-name:fadeInLeft;
}

#title-box:after
{
	width:20em;
	align-self:center;
	
	position:relative;
	top:-1em;

	animation-name:fadeInRight;
}

/*-----------------MAIN TITLE ANIMATION----------------------*/
@keyframes fadeInLeft 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100%
	{
		opacity: 1;
		transform: none;
	}
} 

@keyframes fadeInRight 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% 
	{
		opacity: 1;
		transform: none;
	}
}

#product-display
{
	margin-top:4em;
}

.product-displayer
{
	width:25em;
	height:17em;
	margin:1em;
	color:black;
	text-decoration:none;
	text-align:center;
	border:5px solid white;
	transition:all 0.4s ease;
}


.product-displayer h1
{
	background:#E8E8E8;
	width:fit-content;
	margin:auto;
	margin-top:6em;
	padding:0.3em;
}



.product-displayer:hover
{
	transform:scale(1.05);
}
