
/*-----------------PRODUCT---------------*/

#product-body
{
	background:url("../media/images/bg.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}


.product-box
{
	height:300px;
	overflow:hidden;
	width:40em;
}


.product-zone
{
	margin:1em;
}

.product-box:hover>.product-info-product
{
	transform:translateY(0px);
}

#products-box
{
	width:900px;
	max-height:80vh;
	overflow-y:scroll;
}

#products-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#products-box::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
#products-box::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}

.product-agent-avatar
{
	width:5em;
	height:5em;
	border-radius:50%;
}
	
.product-info-product
{
	background-color:#787878a6;
	font-size:1em;
	color:white;
	width:100%;
	align-self:flex-end;
	height:150px;
	transition:all 0.5s ease;
	transform:translateY(150px);
}

.product-info-product p ,.product-info-product h1
{
	margin:0px;
}

.product-info-product p 
{
	font-size:1.4em;
	margin:0.2em;
}

.product-agent-zone
{
	justify-self:flex-end;
	margin-right:1em;
}

.product-infos-plus
{
	border-left: 2px solid white;
	height:75%;
	padding-left:1em;
	margin-left:1em;
	color:#e7e7e7;
	width:191px;
}

.product-link
{
	background:#484848;
	padding:1em;
	transition:all 0.2s ease;
	text-align:center;
	color:white;
	margin-left:1em;
}

.product-link:hover
{
	background:#e7e7e7;
	color:black;
}

.product-infos-plus p
{
	margin:1em;
}


.rating-star
{
	width:1em;
	height:1em;
	margin:0.2em;
}
#product-manage-zone
{
	max-height:15em;	
	overflow-y:scroll;
}

#product-manage-zone::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#product-manage-zone::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
#product-manage-zone::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}
#product-manage-zone>div
{
	margin:0.3em;
	width:15em;
	color:white;
	background:#E8E8E8bd;
	padding:0.3em;
}

.managed-prod-img
{
	width:7em;
}

#product-manage-zone img
{
	margin:0.3em;
}

.admin-input
{
	padding:0.3em;
	color:white;
	transition:all 0.3s ease;
	margin:0.3em;
	background:#484747;
	text-decoration:none;
	font-weight:bold;
	height:fit-content;
	align-self:center;
}

.admin-input:hover
{
	color:black;
	background:#3bccad;
}

.admin-remove:hover
{
	color:black;
	background:#ff6464;
}

#comment-zone
{
	width:30em;
	max-height:35em;
	min-height:10em;
	overflow-y:scroll;
	padding:0.5em;
	color:white;
	background:#484848;
	margin:1em;
}


#comment-zone::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#comment-zone::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
#comment-zone::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}

#comment-zone>div
{
	background:#E7E7E7bd;
	padding:0.3em;
	width:98%;
	margin:0.4em;
}
.comment-head
{
	border-bottom:1px solid white;
	width:100%;
}

#agent-profile
{
	background:#484848;
	padding:0.5em;
}
