
/*-----------------PRODUCT---------------*/

#product-body
{
	background:url("../media/images/bg.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}


.product-box
{
	height:300px;
	overflow:hidden;
	width:40em;
}


.product-zone
{
	margin:1em;
}

.product-box:hover>.product-info-product
{
	transform:translateY(0px);
}

#products-box
{
	width:900px;
	max-height:80vh;
	overflow-y:scroll;
}

#products-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#products-box::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
#products-box::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}

.product-agent-avatar
{
	width:5em;
	height:5em;
	border-radius:50%;
}
	
.product-info-product
{
	background-color:#787878a6;
	font-size:1em;
	color:white;
	width:100%;
	align-self:flex-end;
	height:150px;
	transition:all 0.5s ease;
	transform:translateY(150px);
}

.product-info-product p ,.product-info-product h1
{
	margin:0px;
}

.product-info-product p 
{
	font-size:1.4em;
	margin:0.2em;
}

.product-agent-zone
{
	justify-self:flex-end;
	margin-right:1em;
}

.product-infos-plus
{
	border-left: 2px solid white;
	height:75%;
	padding-left:1em;
	margin-left:1em;
	color:#e7e7e7;
	width:191px;
}

.product-link
{
	background:#484848;
	padding:1em;
	transition:all 0.2s ease;
	text-align:center;
	color:white;
	margin-left:1em;
}

.product-link:hover
{
	background:#e7e7e7;
	color:black;
}

.product-infos-plus p
{
	margin:1em;
}
