@font-face {
	font-family:lato;
	src:url(../Media/Fonts/Lato.ttf);
}

@font-face {
	font-family:roboto;
	src:url(../Media/Fonts/Roboto.ttf);
}


/*----------------------BODY------------------------*/

body
{
	font-family:lato;
	margin:1;
	padding:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color:#484848;
	min-height:100vh;
}


body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}

#inscription-body
{
	background-image:url('../Media/Images/mansion.jpg');
	background-size:cover;
}

/*---------------------HEADER--------------------*/

header
{
	position:fixed;
	top:20em;
	left:1em;
}

header a
{
	color:white;
	font-size:1.8em;
	text-decoration:none;
	width:fit-content;
}

.header-link
{
	transition:all 0.3s ease;
	margin:0.3em;
}

.header-link:hover
{
	font-size:2em;
}

/*--------------------HEADER-CAT-------------------*/
#product-dropdown
{
	position:relative;
	padding:0.1em;
	height:fit-content;
	width:fit-content;
}

#product-dropdown:hover #categorie-dropdown
{
	display:flex;
}

#categorie-dropdown
{
	position:absolute;
	
	display:none;
	flex-direction:column;
	z-index:1;
	right:-10em;
	top:0.7em;
	width:10em;
}

.header-cat
{
	position:relative;
	max-width: 117px;
}

.header-cat a
{
	display:block;
	padding:0.1em;
	transition:all 0.3s ease;
	font-size:1.4em;
}

.header-cat:hover>a{
	font-size:1.5em;
}

#categorie-dropdown .header-cat:hover>a:after
{
	content:"→";
	width:fit-content;
}


/*----------------HEADER-SUBCAT-----------------*/

.header-cat:hover .sub-content
{
	display:flex;
}

.sub-content
{
	display:none;
	position:absolute;
	
	flex-direction:column;
	left:100%;
	width:fit-content;
	height:fit-content;
	top:0.1em;
}

.sub-content a
{
	font-size:1.2em;
	padding:0.1em;
	transition:all 0.3s ease;
}

.sub-content a:hover
{
	font-size:1.3em;
}


/*---------------------------VIDEO BACKGROUND---------------------------*/

#video-bg
{
	position:absolute;
	top:0; left:0;
	width:100%;
	z-index:-1;
}

/*------------------------------MAIN TITLE------------------------------*/
main
{
	min-height:100vh;
}

#title-box
{
	margin-top:30vh;
	overflow-x:hidden;
	width:100%;
}

#main-topTitle, #main-subTitle
{
	font-family:roboto;
	font-size:5em;
	color:white;
	text-align:center;
	top:5em;
}

#main-subTitle
{
	font-size:2em;
	margin-top:-1em;
}

#title-box:before, #title-box:after
{
	content:"";
	height:3px;
	background:#efefef;
	
	animation-duration:3.8s;
}


#title-box:before
{
	width:35em;
	align-self:center;
	
	position:relative;
	top:3em;

	animation-name:fadeInLeft;
}

#title-box:after
{
	width:20em;
	align-self:center;
	
	position:relative;
	top:-1em;

	animation-name:fadeInRight;
}

/*-----------------MAIN TITLE ANIMATION----------------------*/
@keyframes fadeInLeft 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100%
	{
		opacity: 1;
		transform: none;
	}
} 

@keyframes fadeInRight 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% 
	{
		opacity: 1;
		transform: none;
	}
}

/*------------------------------------------Inscription------------------------------------------------*/


#connect-form
{
	align-self:center;
	justify-self:center;

	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

	font-size:1.3em;
	color:white;

	width:20em;

	background:#71707080;
	border-radius:5px;
}

.input-zone
{
	display:flex;
	justify-content:space-between;
	width:90%;
	margin:10px;
}

.input-zone input
{
	background:#e7e7e7;
	height:2em;
	border-radius:1em;
	border:0px;
}

.input-zone input:focus
{
	outline:none;
}

.error
{
	color:red;
	font-size:0.9em;
}

#connect-form input[type='submit']
{
	width:90%;
	margin:10px;
	border-radius:1em;
	height:2em;
	background:#e7e7e7;
	font-size:1em;
	border:0px;
	transition:all 0.2s ease;
}


#connect-form input[type='submit']:hover
{
	cursor:pointer;
	background:#484848;
}

#connect-form input[type='submit']:focus
{
	outline:none;
}

#top-title
{
	text-align:center;
	margin:auto;
	font-size:2.3em;
	color:white;
	text-decoration:underline;
	padding-bottom:3px;
	margin:10px;
}


/*-------------------------------PROFIL-------------------------*/

#profil-body
{
	background-color:#787878;
}

#profil-container
{
	background-color:#E8E8E8;
	border-radius:10px;
	min-width:400px;
	max-width:550px;
}

#profil-image
{
	width:5em;
	border-radius:50%;
	align-self:center;
	border:5px solid black;
	margin-bottom:15px;
}

#profil-data
{
	min-height:80px;
	max-width:550px;
	min-width:400px;
	width:550px;
}

#profil-data a
{
	color:white;
	text-decoration:none;
	font-size:1.2em;
	background:#787878;
	padding:0.3em;
	border-radius:5px;
	width:47%;
	text-align:center;
	margin:2px;
	transition:background 0.2s ease;
}

#profil-data a:hover
{
	background-color:#5a5a5a;
}
	
/*---------------------------------------FOOOTER-----------------------------------*/

footer
{
	display:flex;
	justify-content:space-evenly;
	height:10em;
	background:#484848;
}

.footer-container
{
	width:80%;
	font-size:1.2em;
	color:white;
	text-align:center;

	display:flex;
	flex-direction:column;
	align-self:center;
}

footer a
{
	color:white;
	transition:font-size 0.2s ease;
}

footer a:hover
{
	font-size:1.2em;
}

/*-----------------PRODUCT---------------*/

#product-body
{
	background:url("../media/images/bg.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}


.product-box
{
	height:300px;
	overflow:hidden;
	width:40em;
}


.product-zone
{
	margin:1em;
}

.product-box:hover>.product-info-product
{
	transform:translateY(0px);
}

#products-box
{
	width:900px;
	max-height:80vh;
	overflow-y:scroll;
}

#products-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#products-box::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
#products-box::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}

.product-agent-avatar
{
	width:5em;
	height:5em;
	border-radius:50%;
}
	
.product-info-product
{
	background-color:#787878a6;
	font-size:1em;
	color:white;
	width:100%;
	align-self:flex-end;
	height:150px;
	transition:all 0.5s ease;
	transform:translateY(150px);
}

.product-info-product p ,.product-info-product h1
{
	margin:0px;
}

.product-info-product p 
{
	font-size:1.4em;
	margin:0.2em;
}

.product-agent-zone
{
	justify-self:flex-end;
	margin-right:1em;
}

.product-infos-plus
{
	border-left: 2px solid white;
	height:75%;
	padding-left:1em;
	margin-left:1em;
	color:#e7e7e7;
	width:191px;
}

.product-link
{
	background:#484848;
	padding:1em;
	transition:all 0.2s ease;
	text-align:center;
	color:white;
	margin-left:1em;
}

.product-link:hover
{
	background:#e7e7e7;
	color:black;
}

.product-infos-plus p
{
	margin:1em;
}

/*----------------------FILTER------------------------*/
#filter
{
	margin-top:6em;
	margin-left:4em;
	margin-right:-12em;
	color:white;
	background:#2f2f2f;
	border-radius:3px;
	height:fit-content;
	padding:1.2em;	
	width:300px;
}

.filter-input-zone
{
	margin-top:10px;
	margin-bottom:10px;
	width:80%;
	justify-self:center;
}

.filter-input-zone input
{
	background-color:#e7e7e7;
	border:0px;
	border-radius:3px;
	margin-left:2px;
	margin-right:2px;
	width:70px;
	color:black;
}

.filter-separator
{
	width:100%;
	display:flex;
	justify-content:center;
	margin:0px;
	color:black;
	font-size:1.3em;
	font-weight:bold;
	margin-top:0.7em;
}

.filter-separator::after
{
	content:"";
	width:100%;
	height:1px;
	background:black;
	align-self:center;
	margin-top:0.1em;
}

#filter-price
{
	width:100%;
}	

#filter-title
{
	text-align:center;
	border:2px solid white;
	margin:auto;
	margin-top:0;
	margin-bottom:0;
	width:fit-content;
	padding:0.6em;
	padding-top:0em;
	padding-bottom:0;
}


.filter-tag
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	max-width:95%;
	overflow-y:scroll;
	max-height:150px;
	background:#272727;
}

.cat_tag
{
	font-size:1.2em;
	width:fit-content;
	display:flex;
	justify-content:space-between;
	padding:0.1em;
	background:#2f2f2f;
	border-radius:3px;
	margin:3px;
	transition:background 0.2s ease;
}

.cat_tag:hover
{
	background:#4c4b4b;
	cursor:pointer;

}

.cat_tag>*:hover
{
	cursor:pointer;
}
.cat_tag input
{
	height:14px;
	width:14px;
	align-self:center;
}


.filter-tag::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.filter-tag::-webkit-scrollbar-track {
  background: #484848;
}

/* Handle */
.filter-tag::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius:2px;
}

#filter-submit
{
	width:7em;
	color:white;
	height:3em;
	background:#484848;
	border:0px;
	text-decoration:underline;
	transition:all 0.2s ease;
	margin:1em;
}


#filter-submit:hover, #filter-reset:hover
{
	color:black;
	cursor:pointer;
	background:#E7E7E7;
}

#filter-search input
{
	width:13em;
}

#filter-reset
{
	width:5em;
	color:white;
	padding:0.6em;
	padding-top:0.8em;
	padding-bottom:0.8em;
	background:#484848;
	border:0px;
	text-decoration:underline;
	transition:all 0.2s ease;
	margin:1em;
	text-align:center;
	font-size:1em;
}



/*------------------------------PRODUCT DESCRIPTION---------------------------------*/


#product-descritption-body
{
background:url("../media/images/bg.jpg");
background-size:cover;
background-repeat:no-repeat;
color: white;
}

#imgDescr{
margin: 5% 3% 5% 12%;
display: flex;
flex-direction: column;
height: 1200px;
overflow: hidden;
width: 700px;
border-radius: 0.3em;
}

#img-product{
height: 28%;
width: 100%;
border-radius: 0.3em;
margin-bottom: 2%;
}

#descr-product{
height: 52%;
width: 100%;
}

#titre-product-description{
margin: 0% 0 1%;
height: auto;
padding-bottom: 7px;
font-size: 2.2vw;
text-align: center;
}

#description-product-description{
height: 43%;
padding: 3% 8% 3%;
text-align: center;
font-size: 24px;
margin-bottom: 3%;
overflow-y: scroll;
background: #484861;
border-radius: 0.3em;
}

#flex-img-div4{
color:black;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#prixetagent{
display: flex;
margin: auto;
width: 95%;
height: 50%;
}

#price-product{
font-size: 40px;
text-align: center;
color: wheat;
margin: auto;
margin-left: 16%;
width: 75%;
height: 30%;
}

#agent-pics{
width: 25%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

#agentPics{
text-align: center;
padding: 19% 0% 0% 0%;
color:black;
margin: auto;
width:90px ;
height: 58px ;
border:2px black solid;
border-radius:9em;
background-color: rgb(241, 241, 241);
}

#agentName{
border:2px black solid;
text-align: center;
margin: 8px auto 0%;
border-radius:0.5em;
width: 70%;
padding-bottom: 2px;
background-color: teal;
}

.img-div4{
margin:3% 0;
width: 130px ;
height:80px ;
border-radius: 0.3em;
background-color: rgb(184, 184, 184);
}

#infos-product-description{
height: fit-content;
padding-top: 3%;
background-color: #353434ca;
border-radius: 0.3em;
}

#agent-note{
height: 16%;
width: 100%;
margin-top: 7%;
display: flex;
flex-direction: row;
}

.agent-note-div{
margin: 4% auto 0%;
width: 280px;
height: 150px;
border-radius:0.5em;
background-color: slategrey;
border: 2px white solid;
}

.inside-agent-note{
height: 67%;
}

.agent-note-footer{
height: 29%;
background-color: rgba(188, 143, 143, 0.774);
display: flex;
flex-direction: row;
padding: 1% 0% 1.2% 2%;
border-radius: 0 0 0.5em 0.5em;
}

.info-agent{
width: 80%;
}

.agentName1{
text-align: center;
padding: 2.5% 0% 0% 0%;
color:black;
margin: -1px auto;
font-size: 10px;
width:40px ;
height: 35px ;
border:2px black solid;
border-radius:9em;
background-color: rgb(241, 241, 241);
}



/* SECTION DROITE PAGE PRODUCT-DESCRIPTION */

#tag-product-descr
{
margin-top: -21.45em;
margin-left: 4em;
margin-right: -12em;
color: white;
background: #2f2f2f;
border-radius: 0.3em;
padding: 1.7% 1.2em 0em;
height: auto;
width: 340px;
border: 2px white solid;
}

#tag{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.tag-inside{
width: fit-content;
padding: 1px 3% 1%;;
text-align: center;
border:1px black solid;
border-radius:0.5em;
font-size: x-large;
background-color: rgb(144, 151, 158);
}

#specificites{
border-radius: 0.3em;
margin-top: 10%;
height: 43%;
padding: 0% 4% 0%;
font-size: 26px;
background-color: rgb(92, 164, 167);
}

.specificitesDiv{
padding: 4.5% 0;
}

#addcartgoback{
border:4px white solid;
border-radius: 0.3em;
margin: 10% 0px;
padding: 8%;
height: 19%;
background-color: rgba(255, 99, 71, 0.911);
}

.addcartgoback-inside{
width: 226px;
height: 60px;
text-align: center;
color: black;
font-size: 2.2vw;
font-weight: bold;
margin: 0% auto 0%;
border-radius: 0.3em;
border: 1px black solid;
background-color: white;
}
.addcartgoback-insideBis{
width: 226px;
height: 60px;
text-align: center;
color: black;
font-size: 2vw;
font-weight: bold;
border-radius: 0.3em;
}
a{
text-decoration: none;
}

#validationPanier input{
width: 13%;
margin: 1% auto 1%;
}

#validationPanier{
background-color: rgba(255, 169, 71, 0.959);
border: 2px black solid;
width: 47.5%;
padding: 2%;
text-align: center;
font-size: 2vw;
border-radius: 0.3em;
margin: -14% 20%;
position: absolute;
}

#validationPanierbis input{
text-align: center;
width: 50%;
margin: 1% auto 1%;
}

#validationPanierbis{
background-color: rgba(255, 169, 71, 0.808);
border: 2px black solid;
width: 40%;
padding: 2%;
text-align: center;
font-size: 2vw;
border-radius: 0.3em;
margin: 0.3% 23.5%;
position: absolute;
}

#validationPanierbis2{
background-color: rgba(255, 92, 71, 0.911);
border: 2px black solid;
width: 37%;
padding: 4% 2%;
text-align: center;
font-size: 2vw;
border-radius: 0.3em;
margin: -6.5% 23.5%;
position: absolute;
}
	
	
	
	








/*---------------------------- PAGE PANIER -------------------------------- */


.product-zone-cart
{
	margin: 2em;
	width: 640px;
}

#cart-body{
background:url("../media/images/bg.jpg");
background-size:cover;
background-repeat:no-repeat;
color: white;
display: flex;
}

#products-box-basket{
width: 900px;
max-height: 106vh;
overflow-y: scroll;
}

/* MAISON LISTE */

#panierList{
margin: 3% 0% 0% 32%;
width: 81%;
height: 388px;
background: #484861;
font-size: 16px;
text-align: center;
border-radius: 3px black solid;
overflow-y: scroll;
overflow-x: visible;
border-radius: 0.3em;
}


#houseInBasket{
width: 95%;
height: 45%;
margin:2%;
background-color: chocolate;
border-radius: 3px black solid;
border-radius: 0.3em;
}


/* VALIDATION PANIER */

#ValidationAchat{
margin-top: 2%;
margin-left: 8%;
width: 25%;
height: 900px;
background: #484861;
border-radius: 3px black solid;
border-radius: 0.3em;
color:black;
font-size: x-large;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.titrePanier{
margin-left: 46%;
margin-top: 2%;
margin-bottom: -2%;
text-align: center;
font-size: xx-large;
color: rgb(219, 219, 84);
}

#infoProduct{
margin: 2% auto;
padding: 2% 0;
width: 95%;
height: 60%;
border: 2px black solid;
border-radius:0.3em;
background-color: wheat;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#infoGeneral{
width: 95%;
height: 20%;
border: 2px black solid;
border-radius: 0.3em;
background-color:rgb(50, 182, 205) ;

}

#infoTechnique{
width: 95%;
height: 77%;
padding: 1%;
margin-bottom: 1%;
text-align: center;
border: 2px black solid;
border-radius: 0.3em;
background-color: rgb(92, 164, 167);
}

#option{
width: 95%;
height: fit-content ;
border: 2px black solid;
border-radius: 0.3em;
background-color: rgb(90, 90, 90);
}

#optionDiv{
font-size: large;
margin: 1.5% auto;
padding: 1%;
width: 95%;
border: 2px black solid;
border-radius: 0.3em;
background-color: rgb(255, 234, 47);
}

#validationBasket{
margin: 2% auto;
width: 95%;
height: fit-content;
border: 2px black solid;
border-radius:0.3em;
background-color: bisque;
}

.product-infos-basket
{
height: 90%;
padding-left:1em;
margin-left:1em;
margin-top: 14px;
color:#e7e7e7;
width: 196px;
}

.removeArticle{
padding:3%;
font-size: x-large;
border-radius: 0.3em;
text-align: center;
}

#InfoAvantValidation{
margin:2% auto;
width: 95%;
height: fit-content;
background: #484950;
text-align: center;
color: white;
font-weight: bold;
padding: 2% 0;
}

#ValidationAchatOk{
margin:2% auto;
width: 95%;
padding: 5% 0;
border-radius: 0.3em;
height: auto;
background-color: rgba(255, 99, 71, 0.911);
text-align: center;	
display: flex;
flex-direction: column;
font-size: xx-large;
justify-content: space-evenly;
}

#product-bought{
background: #1a1919c0;
font-size: x-large;
padding: 6em 0px;
width: 640px;
text-align: center;
border-radius: 0.3em;
border: 4px black solid;
color: white;
font-style: italic;
margin-top: -0.05em;
margin-left: -26.81em;
margin-right: -0.1em;
opacity: 1;
}

#product-bought:hover{
opacity: 0.5;
color:rgba(190, 190, 114, 0);
}

#aucunAchat{
margin: 19% auto;
font-size: xx-large;
}

#acheter{
padding: 1% 0 2%;
width: 60%;
font-style: bolder;
font-size: 39px;
border-radius: 0.3em;
text-align: center;
}

#formulairePayement{
display: flex;
border-radius: 0.3em;
flex-direction: column;
padding:2%;
background-color: rgba(20, 163, 220, 0.815);
}

#inputPayement{
width: 100%;
font-size: x-large;

}

#totalPrice{
font-weight: bold;
color:rgb(209, 209, 108);
background-color: rgba(29, 30, 42, 0.658);
font-size: xx-large;
padding: 2% 0;
}